In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')

In [3]:
df

   day         event  temperature  windspeed
0    1         Sunny           80         10
1    2        Cloudy           70         15
2    3         Rainy           60         20
3    4  Thunderstorm           50         30
4    5         Snowy           40         35
5    6          Hazy           75         25

In [4]:
df.shape

(6, 4)

In [5]:
df.head()

   day         event  temperature  windspeed
0    1         Sunny           80         10
1    2        Cloudy           70         15
2    3         Rainy           60         20
3    4  Thunderstorm           50         30
4    5         Snowy           40         35

In [6]:
df.head(3)

   day   event  temperature  windspeed
0    1   Sunny           80         10
1    2  Cloudy           70         15
2    3   Rainy           60         20

In [7]:
df[2:5]

   day         event  temperature  windspeed
2    3         Rainy           60         20
3    4  Thunderstorm           50         30
4    5         Snowy           40         35

In [8]:
df.columns

Index(['day', 'event', 'temperature', 'windspeed'], dtype='object')

In [9]:
df.day

0    1
1    2
2    3
3    4
4    5
5    6
Name: day, dtype: int64

In [10]:
df.event

0           Sunny
1          Cloudy
2           Rainy
3    Thunderstorm
4           Snowy
5            Hazy
Name: event, dtype: object

In [11]:
df['event'] # / df.event

0           Sunny
1          Cloudy
2           Rainy
3    Thunderstorm
4           Snowy
5            Hazy
Name: event, dtype: object

In [12]:
df[['event', 'day']]

          event  day
0         Sunny    1
1        Cloudy    2
2         Rainy    3
3  Thunderstorm    4
4         Snowy    5
5          Hazy    6

In [13]:
# operations on dataframe

In [14]:
df['temperature'].max()

80

In [15]:
df.describe()

            day  temperature  windspeed
count  6.000000     6.000000   6.000000
mean   3.500000    62.500000  22.500000
std    1.870829    15.411035   9.354143
min    1.000000    40.000000  10.000000
25%    2.250000    52.500000  16.250000
50%    3.500000    65.000000  22.500000
75%    4.750000    73.750000  28.750000
max    6.000000    80.000000  35.000000

In [16]:
 df[df.temperature>=60]

   day   event  temperature  windspeed
0    1   Sunny           80         10
1    2  Cloudy           70         15
2    3   Rainy           60         20
5    6    Hazy           75         25

In [17]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

   day  temperature
0    1           80

In [18]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [19]:
df.set_index('day', inplace=True)

In [20]:
df.reset_index('day', inplace=True)

In [21]:
df

   day         event  temperature  windspeed
0    1         Sunny           80         10
1    2        Cloudy           70         15
2    3         Rainy           60         20
3    4  Thunderstorm           50         30
4    5         Snowy           40         35
5    6          Hazy           75         25

In [22]:
# creating dataframes by different ways

In [23]:
df = pd.read_csv('weather.csv')
df

   day         event  temperature  windspeed
0    1         Sunny           80         10
1    2        Cloudy           70         15
2    3         Rainy           60         20
3    4  Thunderstorm           50         30
4    5         Snowy           40         35
5    6          Hazy           75         25

In [24]:
#df=pd.read_excel('weather.xlsx','Sheet1')

In [25]:
weather_data = [
{'day': 1, 'event': 'Sunny', 'temperature': 80, 'wind speed': 10},
{'day': 2, 'event': 'Cloudy', 'temperature': 70, 'wind speed': 15},
{'day': 3, 'event': 'Rainy', 'temperature': 60, 'wind speed': 20},
{'day': 4, 'event': 'Thunderstorm', 'temperature': 50, 'wind speed': 30},
{'day': 5, 'event': 'Snowy', 'temperature': 40, 'wind speed': 35},
{'day': 6, 'event': 'Hazy', 'temperature': 75, 'wind speed': 25}
]

df = pd.DataFrame(weather_data)
df.head()

   day         event  temperature  wind speed
0    1         Sunny           80          10
1    2        Cloudy           70          15
2    3         Rainy           60          20
3    4  Thunderstorm           50          30
4    5         Snowy           40          35

In [26]:
df

   day         event  temperature  wind speed
0    1         Sunny           80          10
1    2        Cloudy           70          15
2    3         Rainy           60          20
3    4  Thunderstorm           50          30
4    5         Snowy           40          35
5    6          Hazy           75          25

In [27]:
# new_df = df.fillna(0)

In [28]:
# new_df = df.fillna(method='ffill')
# new_df = df.fillna(method='bfill')

In [29]:
# new_df = df.interpolate()

In [30]:
#new_df = dropna()